:root {
    --font-family-primary: "cabin", sans-serif;
    --font-family-secondary: "lato", sans-serif;

    --font-size-base: clamp(0.875rem, 1vw + 1rem, 1.2rem); 
    --font-size-small: clamp(1rem, 1.2vw + 0.5rem, 1.5rem); 
    --font-size-large: clamp(1.8rem, 2vw + 1rem, 2.8rem); 
    --font-size-xlarge: clamp(2rem, 3vw + 1rem, 3.1rem); 

    --color-primary:rgba(27, 27, 27, 0.91);
    --color-secondary: #ffff;
    --color-tertiary:#FBC336;
    --color-paragraph: #595566;
}