
@layer reset {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  }


    .main-layout {
        --gap: clamp(1rem, 6vw, 3rem); 
        --full: minmax(var(--gap), 1fr); 
        --content: min(calc(1200px - var(--gap) * 2)); 
      
        display: grid;
        grid-template-columns:
          [full-start] var(--full) 
          [content-start] var(--content) [content-end] 
          var(--full) [full-end]; 
      }


:root {
    --font-family-primary: "cabin", sans-serif;
    --font-family-secondary: "lato", sans-serif;

    --font-size-base: clamp(0.875rem, 1vw + 1rem, 1.2rem); 
    --font-size-small: clamp(1rem, 1.2vw + 0.5rem, 1.5rem); 
    --font-size-large: clamp(1.8rem, 2vw + 1rem, 2.8rem); 
    --font-size-xlarge: clamp(2rem, 3vw + 1rem, 3.1rem); 

    --color-primary-1:#FBC336;
    --color-primary-2:#4EAF4E;
    --color-primary-3: #181818;
    --color-secondary-1:#F5F5F5;
    --color-secondary-2:#ffff;

}

h3{
    font-family: var(--font-family-primary);
 font-size: var(--font-size-small);
}

h1 {
    font-family: var(--font-family-primary);
 font-size: var(--font-size-xlarge);
}

p, a {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-base);
    text-wrap: pretty;
}