---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Newsletter from "../components/Newsletter.astro";
import TeamSingle from "../components/TeamSingle.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="src/styles/global.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
    </style>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="main-layout">
    <Header />
    <TeamSingle />
    <Newsletter />
    <Footer />
  </body>
</html>
