---
const { text, variant } = Astro.props;

const styles = {
  yellow: {
    bgColor: "var(--color-primary-1)",
    color: "var(--color-primary-3)",
  },
  white: {
    bgColor: "var(--color-secondary-2)",
    color: "var(--color-primary-3)",
  },
  black: {
    bgColor: "var(--color-primary-3)",
    color: "var(--color-secondary-1)",
  },
};

const selectedStyle = styles[variant] || styles["yellow"];
---

<button style={`background-color: ${selectedStyle.bgColor};`}>
  <a href="" style={`color: ${selectedStyle.color};`}>{text}</a>
</button>

<style>
  button {
    white-space: nowrap;
    width: 10rem;
    background-color: var(--color-primary-1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 0;
    border-radius: 55px;
    align-items: center;
    box-sizing: border-box;

    & a {
      padding: 0.9375rem 1.875rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
  }
</style>
