---
import CardHero from "./CardHero.astro";
---

<div class="grid-container">
  <div class="card-container">
    <CardHero
      header="Finance & Restructuring"
      paragraph="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling."
    />
    <CardHero
      header="Our Approach"
      paragraph="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling."
    />
    <CardHero
      header="Consultalk Result"
      paragraph="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling."
    />
  </div>
</div>
<style>
  .grid-container {
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    grid-column: content;
  }
  .card-container {
    z-index: 2;
    gap: 2rem;
    display: flex;
  }
</style>
