---
interface Card {
  title: string;
  description: string;
}

interface Props {
  cards: Card[];
}

const { cards } = Astro.props;
---

<div class="grid-container">
  {
    cards.map((card, index) => (
      <div class="card">
        <img src="/public/icons/ikon-5.svg" alt="Icon" />
        <h6 class="card-title">{card.title}</h6>
        <p class="card-description">{card.description}</p>
      </div>
    ))
  }
</div>

<style>
  .grid-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 auto;
  }

  .card {
    border-radius: 1.25rem;
    display: flex;
    padding: 2.8125rem 2.0625rem;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ebebeb;
  }

  img {
    width: 2.125rem;
    height: 1.625rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
  }

  .card:nth-child(2) {
    background-color: #181818;
    color: #fff;
  }

  .card-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5rem;
  }

  .card-description {
    white-space: normal;
    word-wrap: break-word;
    font-size: 0.9rem;
    color: #595566;
  }

  .card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .card:nth-child(2) .card-description {
    color: #ddd;
  }
 

</style>
