---
import Button from "./Button.astro";
---

<div class="content">
  <img src="/img/computer.avif" alt="" />
  <div class="info-container">
    <div class="info-item">
      <h6>Case Name</h6>
      <p>Taxes & Efficiency</p>
    </div>
    <div class="info-item">
      <h6>Category</h6>
      <p>Business</p>
    </div>
    <div class="info-item">
      <h6>Date</h6>
      <p>27th September 2022</p>
    </div>
    <div class="preview-button">
      <Button text="Live Preview" />
    </div>
  </div>
</div>

<style>
  .content {
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-auto-rows: 180px;
  }

  img {
    grid-column: 1;
    grid-row: 1/4;
    width: 100%;
  }

  .info-item,
  p {
    color: var(--color-secondary-2);
    display: flex;
    flex-direction: column;
  }

  .info-container {
    align-items: center;
    border-radius: 1.875rem;
    padding: 3.3125rem 3.75rem;
    background: var(--color-primary-3);
    grid-column: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 3/4;
    gap: 100px;
  }
</style>
