---
import CaseStudyImg from "./CaseStudyImg.astro";
---

<CaseStudyImg />
<div class="container">
  <div class="text-box">
    <h2>Project Overview</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </p>
    <ul>
      <li>
        It brings the right people together with all the right information and
        tools to get work done
      </li>
      <li>
        We provide operational efficiency, data security, and flexible scale
      </li>
      <li>
        Your best work, together in one package that works seamlessly from your
        computer
      </li>
      <li>
        Delivers the tools you need to save time Improve field performance
        always
      </li>
    </ul>
  </div>
  <div class="text-box">
    <h3>Storyboard</h3>
    <p>
      Completely synergize resource taxing relationships via premier niche
      markets. Professionally cultivate one-to-one customer service with robust
      ideas. Dynamically innovate resource-leveling customer service for state
      of the art customer service. Objectively innovate empowered manufactured
      products whereas parallel platforms. Holistically predominate extensible
      testing procedures for reliable supply chains.
    </p>
    <p>
      Proactively envisioned multimedia based expertise and cross-media growth
      strategies. Seamlessly visualize quality intellectual capital without
      superior collaboration and idea-sharing. Holistically pontificate
      installed base portals after maintainable products completely pursue
      scalable customer service.
    </p>
  </div>
  <img src="/img/girls-with-computer.avif" alt="" />
  <div class="text-box">
    <h3>Project result</h3>
    <p>
      Leverage agile frameworks to provide a robust synopsis for high level
      overviews. Iterative approaches to corporate strategy foster collaborative
      thinking to further the overall value proposition. Organically grow the
      holistic world view of disruptive innovation via workplace diversity and
      empowerment.
    </p>
    <p>
      Bring to the table win-win survival strategies to ensure proactive
      domination. At the end of the day, going forward, a new normal that has
      evolved from generation X is on the runway heading towards a streamlined
      cloud solution. User generated content in real-time will have multiple
      touchpoints for offshoring.
    </p>
  </div>
</div>
<style>
  .container {
    justify-content: center;
    display: grid;
    gap: 1rem;
  }

    &:nth-of-type(1) {
      gap: 2.5rem;
    }

    &:nth-of-type(2) {
      gap: 1.62rem;
    }

    &:nth-of-type(3) {
      gap: 2.38rem;
    }
  }
</style>
