<footer class="footer full-width">
  <div class="footer-content">
    <h5>AskExperts</h5>
    <div class="line"></div>
    <p>
      ©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy
    </p>
  </div>
</footer>

<style>
  .footer {
    grid-column: full;
    background-color: var(--color-primary-3);
    padding: 2rem 0;
  }

  .line {
    content: "";
    border: 0.5px solid;
    color: #707070;
    width: 75.001rem;
    height: 0.0625rem;
  }

  .footer-content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.25rem;
    text-align: center;

    p,
    h5 {
      color: var(--color-secondary-2);
    }
  }
</style>
