---
import Button from "./Button.astro";
---

<div class="full">
  <div class="header-content">
    <h1>AskExperts</h1>
    <nav class="menu-bar">
      <a href="#">Home</a>
      <a href="#">Case Study</a>
      <a href="#">Team</a>
      <a href="#">About</a>
    </nav>
    <Button text="Login" />
  </div>
</div>

<style>
  h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .full {
    display: flex;
    background-color: rgba(27, 27, 27, 0.91);
    grid-column: full;
    justify-content: center;
    padding: 38px;
  }

  .header-content {
    max-width: var(--content-width);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  a {
    color: white;
    text-decoration: none;
  }

  .menu-bar {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
</style>
