<header>
  <div class="header-content">
    <h1>AskExperts</h1>
    <nav class="menu-bar">
      <a href="#">Home</a>
      <a href="#">Case Study</a>
      <a href="#">Team</a>
      <a href="#">About</a>
    </nav>
    <button class="login-btn">Login</button>
  </div>
</header>

<style>
  h1 {
    font-size: 30px;
    font-weight: 600;
  }

  header {
    display: grid;
    background-color: rgba(27, 27, 27, 0.91);
    grid-column: full-start / full-end;
  }

  .header-content {
    grid-column: content-start / content-end;
    color: white;
    padding: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .menu-bar {
    display: flex;
    gap: 2rem;
  }

  button {
    justify-self: end;
  }
</style>
