---
import Button from "./Button.astro";
---

<nav class="full">
  <div class="content flex-row">
    <div class="logo">
      <a href="/"><h1>AskExperts</h1></a>
    </div>
    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="burger-menu" aria-label="Toggle menu">
      ☰
    </label>
    <div class="menu-bar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/casestudy">Case Study</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <div>
      <Button text="Login" />
    </div>
  </div>
</nav>

<style>
  .full {
    background: rgba(27, 27, 27, 0.91);
    padding: 2.375rem;
    display: grid;
    width: 100%;
  }

  a {
    color: white;
  }

  .content {
    align-items: center;
    justify-content: space-between;
    padding-inline: max(1rem, 50% - var(--content) / 2);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }

  li a {
    color: white;
  }

  input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
    > ul {
      > li {
        opacity: 1;
        transition-delay: 0.5s;
      }
    }
  }

  .menu-collapsed {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .menu-toggle {
    display: none;
  }

  .burger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--color-secondary-2);
  }

  @media (max-width: 600px) {
    .header {
      margin: 0;
      padding: 0;
    }
    .burger-menu {
      display: block;
    }

    .menu-bar {
      padding: 2rem;
      background-color: rgba(27, 27, 27, 0.91);
      display: none;
      position: fixed;
      top: 125px;
      right: 0;
      width: 100%;
      z-index: 3;
    }

    .menu-bar ul {
      flex-direction: column;
    }

    .menu-bar li {
      text-align: center;
    }

    .menu-toggle:checked + .burger-menu + .menu-bar {
      display: block;
    }
  }
</style>
