<header>
  <div class="header-content">
    <h1>AskExperts</h1>
    <nav class="menu-bar">
      <a href="#">Home</a>
      <a href="#">Case Study</a>
      <a href="#">Team</a>
      <a href="#">About</a>
    </nav>
    <button class="login-btn">Login</button>
  </div>
</header>

<style>
  h1 {
    font-size: 30px;
    font-weight: 600;
  }

  header {
    background-color: var(--color-primary);
  }

  .header-content {
    color: white;
    padding: 38px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .menu-bar {
    grid-column: 2;
    display: flex;
    gap: 2rem;
  }

  button {
    justify-self: end;
  }
</style>
