---
const { title, image } = Astro.props;
import TextTag from "./TextTag.astro";
---

<section class="hero-banner">
  <div class="img-container">
    <img src={image} alt="" />
  </div>
  <div class="flex-overlay">
    <div class="text-overlay">
      <TextTag text="Services" />
      <h1 class="tag">{title}</h1>
    </div>
  </div>
</section>

<style>
  .hero-banner {
    display: grid;
    grid-template-areas: "overlay"; /* Define a single grid area for both elements */
    grid-column: full-start / full-end; /* Make the hero section span the full width */
    overflow: hidden;
    position: relative; /* Establishes a positioning context for z-index */
  }

  .img-container {
    grid-area: overlay; /* Place the image in the same grid area as the overlay */
    z-index: 1; /* Set a lower z-index so it stays behind the overlay */
  }

  .img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  .flex-overlay {
    grid-area: overlay;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
  }

  .text-overlay {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
  }
</style>
