---
import Button from "./Button.astro";

const { header, paragraph, buttonText } = Astro.props;
---

<div class="flex-container">
  <h3>{header}</h3>
  <p>
    {paragraph}
  </p>
  <Button text={buttonText} variant="black" />
</div>

<style>
  .flex-container {
    justify-content: flex-start;
    z-index: 2;
    display: flex;
    padding: 2.875rem;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    background-color: rgba(38, 38, 38, 0.9);
    backdrop-filter: blur(16px);
    border-radius: 20px;
  }

  h3,
  p {
    color: var(--color-secondary-1);
  }
</style>
