---
interface Card {
  title: string;
  description: string;
  link?: string;
  icon: string;
}

interface Props {
  cards: Card[];
}

const { cards } = Astro.props;
---

<div class="grid-container">
  {
    cards.map((card) => (
      <div class="card">
        <img src={card.icon} alt="Icon" class="card-icon" />
        <h6 class="card-title">{card.title}</h6>
        <p class="card-description">{card.description}</p>
        {card.link && <a href={card.link}>Read More</a>}
      </div>
    ))
  }
</div>

<style>
  .grid-container {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .card {
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
  }

  .card:has(a) {
    padding: 2.25rem 1.4375rem;
    width: 17.2rem;
    background: var(--color-secondary-1);
    gap: 0.625rem;
    flex-direction: column;

    img {
      width: 3.29863rem;
      height: 3.29863rem;
    }
  }

  .card:not(:has(a)) {
    padding: 2.8125rem 2.0625rem;
    background-color: #ebebeb;
    width: 21.5625rem;
    flex-direction: column;
    gap: 0.625rem;

    .card:nth-child(2) {
      background-color: #181818;
      color: #fff;
    }

    img {
      width: 2.125rem;
      height: 1.625rem;
    }
  }
</style>
