---
const { text, variant } = Astro.props;

const styles = {
  yellow: {
    bgColor: "var(--color-primary-1)",
    color: "var(--color-secondary-2)",
  },
  green: {
    bgColor: "var(--color-primary-2)",
    color: "var(--color-secondary-2)",
  },
  black: {
    bgColor: "var(--color-primary-3)",
    color: "var(--color-secondary-2)",
  },
  white: {
    bgColor: "var(--color-secondary-2)",
    color: "var(--color-primary-3)",
  },
};

const selectedStyle = styles[variant] || styles["yellow"];
---

<div
  class={`text-tag`}
  style={`background-color: ${selectedStyle.bgColor}; color: ${selectedStyle.color};`}>
  <p>{text}</p>
</div>

<style>
  .text-tag {
    display: inline-block;
    border-radius: 1.25rem;
    padding: 0rem 0.75rem;
    align-items: flex-start;
    gap: 0.625rem;
    background-color: var(--color-secondary-2, var(--color-primary-1));
  }

  .text-tag.white-bg {
    background-color: #fff;
  }

  .text-tag.yellow-bg {
    background-color: var(--color-primary-1);
  }

  p {
    text-transform: uppercase;
    color: var(--color-primary-3);
  }
</style>
