<div class="flex-row">
  <div class="flex-row">
    <div class="text-box">
      <h2>Turn your ideas into reality.</h2>
      <p>
        Capitalize on low hanging fruit to identify a ballpark value added
        activity beta test. Override the digital divide with additional from
        DevOps.
      </p>
      <ul class="list">
        <li class="flex-row list-item">
          <img src="/icons/tick.svg" alt="" />
          <p>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day.
          </p>
        </li>
        <li class="flex-row list-item">
          <img src="/icons/tick.svg" alt="" />
          <p>
            Capitalize on low hanging fruit to identify a ballpark value added
            activity to beta test override the digital.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="img-container">
    <img src="/img/visions.avif" alt="" />
  </div>
</div>
<ul class="container flex-row">
  <li>
    <h1>1128+</h1>
    <p>Succesful Work</p>
  </li>
  <li>
    <h1>908+</h1>
    <p>Team Member</p>
  </li>
  <li>
    <h1>258+</h1>
    <p>Happy Customers</p>
  </li>
  <li>
    <h1>564+</h1>
    <p>Creative Ideas</p>
  </li>
</ul>

<style>
  .flex-row {
    gap: 4rem;
  }
  .list-item {
    gap: 2rem;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .container {
    justify-content: center;
  }

  .list {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  ul {
    justify-content: center;
    align-items: flex-start;
    gap: 8.4375rem;
    list-style: none;
  }

  .img-container,
  img {
    position: relative;
    border-radius: 1.25rem;
  }

  .img-container::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    width: 100px;
    height: 80px;
    background: #4eaf4e;
    border-radius: 0.8rem;
    z-index: -2;
  }

  .img-container::after {
    content: "";
    position: absolute;
    top: -40px;
    right: -50px;
    width: 150px;
    height: 150px;
    background: url("./icons/pattern.svg") no-repeat;
    background-size: contain;
    z-index: -3;
  }

  @media (max-width: 700px) {
    .container {
      display: flex;
      flex-direction: column;
      gap: 3.625rem;
    }

    .numbers {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }

    .img-container {
      position: relative;
      display: grid;
      justify-items: center;
    }

    .text-container {
      display: grid;
      gap: 1rem;
    }
  }
</style>
