---
import TextTag from "../components/TextTag.astro";
---

<section class="container">
  <div class="container-pattern">
    <div class="pattern"></div>
    <div class="background"></div>
    <div class="img-container">
      <img src="../img/what-to-expect.avif" alt="" />
    </div>
  </div>
  <div class="text-box">
    <div>
      <TextTag text="WE'LL WORK FOR YOU" />
      <h2>What to expect</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div class="check-box">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 23 23"
        fill="none">
        <path
          d="M15.8545 8.83813L9.83579 14.58L6.83154 11.7091"
          stroke="#4EAF4E"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M11.343 21.1423C16.7793 21.1423 21.1863 16.7354 21.1863 11.2991C21.1863 5.86279 16.7793 1.45581 11.343 1.45581C5.90673 1.45581 1.49976 5.86279 1.49976 11.2991C1.49976 16.7354 5.90673 21.1423 11.343 21.1423Z"
          stroke="#4EAF4E"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <p class="text">
        Bring to the table win-win survival strategies to ensure proactive
        domination. At the end of the day.
      </p>
    </div>
    <div class="check-box">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 23 23"
        fill="none">
        <path
          d="M15.8545 8.83813L9.83579 14.58L6.83154 11.7091"
          stroke="#4EAF4E"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M11.343 21.1423C16.7793 21.1423 21.1863 16.7354 21.1863 11.2991C21.1863 5.86279 16.7793 1.45581 11.343 1.45581C5.90673 1.45581 1.49976 5.86279 1.49976 11.2991C1.49976 16.7354 5.90673 21.1423 11.343 21.1423Z"
          stroke="#4EAF4E"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <p class="text">
        Capitalize on low hanging fruit to identify a ballpark value added
        activity to beta test override the digital.
      </p>
    </div>
  </div>
</section>

<style>
  .container {
    gap: 5.125rem;
    display: inline-flex;
    align-items: flex-start;
    grid-column: content;
  }

  .text-box {
    display: flex;
    width: 30.0625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.875rem;

    & > * + * {
      color: var(--color-secondary-3);
    }
  }

  .check-box {
    display: flex;
    flex-direction: row;
  }

  .icon {
    width: 3rem;
    height: 1.23044rem;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: -20px;
    background-color: var(--color-primary-2);
    border-radius: 1.25rem;
    z-index: 2;
    width: 10.25rem;
    height: 11.4375rem;
    transform: rotate(-90deg);
    flex-shrink: 0;
  }

  .container-pattern {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .img-container {
    margin-top: 30px;
    margin-left: -30px;
    position: relative;
    z-index: 3;
    overflow: hidden;
    border-radius: 1.75rem;
  }

  .img-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .pattern {
    background-image: url("/img/Pattern.svg");
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -50px;
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  @media (max-width: 700px) {
    .container {
      align-items: center;
      margin: 30px;
      display: flex;
      flex-direction: column;
    }
  }
</style>
