---
import TextTag from "../components/TextTag.astro";
---

<section class="container">
  <div class="container-pattern">
    <div class="pattern"></div>
    <div class="background"></div>
    <div class="img-container">
      <img src="../img/what-to-expect.avif" alt="" />
    </div>
  </div>
  <div class="text-box text-content">
    <div>
      <TextTag text="WE'LL WORK FOR YOU" variant="yellow" />
      <h2>What to expect</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div class="flex-row">
      <img src="/icons/tick.svg" alt="" />
      <p class="text">
        Bring to the table win-win survival strategies to ensure proactive
        domination. At the end of the day.
      </p>
    </div>
    <div class="flex-row">
      <img src="/icons/tick.svg" alt="" />
      <p class="text">
        Capitalize on low hanging fruit to identify a ballpark value added
        activity to beta test override the digital.
      </p>
    </div>
  </div>
</section>

<style>
  .container {
    gap: 4rem;
    display: inline-flex;
  }

  .text-content {
    max-width: 25rem;
    align-items: flex-start;
    gap: 0.875rem;

    & > * + * {
      color: var(--color-secondary-3);
    }
  }

  .background {
    position: absolute;
    top: -5%;
    left: -5%;
    background-color: var(--color-primary-2);
    border-radius: 1.25rem;
    z-index: 2;
    width: 30%;
    height: 40%;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;
  }

  .container-pattern {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-container {
    position: relative;
    z-index: 3;
    overflow: hidden;
    border-radius: 1.75rem;
  }

  .img-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .pattern {
    background-image: url("/img/Pattern.svg");
    position: absolute;
    top: -9%;
    left: -9%;
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  @media (max-width: 700px) {
    .container {
      gap: 3.125rem;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .text-box {
      max-width: 40rem;
    }
  }
</style>
